.after, .section--rivalidades__article-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.input {
  color: black;
  padding: 1.2em;
  border-radius: 0.5em;
  border: none;
  margin: 1em 0;
  width: 75ch;
}

.boton, .rivalidades_a--link {
  background-color: rgb(80, 153, 255);
  color: white;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

* {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: rgb(50, 56, 107);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav__a--img {
  height: 100px;
  cursor: pointer;
  padding: 0.5em 0;
  transition: all 0.5s ease-out;
}
header nav .nav__a--img:hover {
  transition: all 0.5s ease-out;
  transform: scale(0.9);
  filter: opacity(0.8);
  filter: contrast(100);
}
header nav .nav__a--links,
header nav .active {
  display: inline-block;
  font-size: 1.2em;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
}
header nav .active {
  text-decoration: none;
  font-size: 1.2em;
  scale: 0.9;
  opacity: 0.5;
}
header nav .nav__a--links::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in;
}
header nav .nav__a--links:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
header nav .nav__a--links:hover,
header nav .active:hover {
  color: whitesmoke;
}
header nav ul {
  padding: 0;
  display: none;
}
header nav li {
  list-style: none;
  display: inline;
  padding: 0px 5px;
}
header nav li:last-child {
  padding: 0;
}

@media (min-width: 576px) {
  header nav {
    padding: 0 1.5em;
  }
  header nav ul {
    display: block;
  }
  header .bi-list__personal {
    display: none;
  }
}
/*MODIFICACIONES A ELEMENTOS DE BOOTSTRAP*/
.offcanvas--personal {
  background-color: rgb(50, 56, 107);
  height: 100vh !important;
}

.btn-close__personal {
  filter: invert(1);
  opacity: 1;
  padding-top: 1em !important;
  transform: scale(1.5);
}

.offcanvas-body__personal {
  display: grid;
  place-items: center;
  gap: 0.5em;
}

.offcanvas--links {
  display: inline-block;
  font-size: 1.2em;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
}

/*HOME*/
.section__article--text {
  color: rgb(238, 228, 228);
}
.section__article--text span {
  color: red;
  font-weight: bold;
  font-size: 1.7em;
}

/*ABOUT*/
/*PALMARES*/
/*RIVALIDADES*/
.section--rivalidades__article-title {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 700;
  margin: 1em 0;
  z-index: 0;
}
.section--rivalidades__article-title::after {
  background-color: #e91e63;
  height: 5px;
  margin-bottom: 2px;
}

.section--rivalidades__p {
  max-width: 75ch;
  line-height: 1.8;
  margin: 1em 0;
}

.rivalidades_a--link {
  display: inline-block;
  padding: 0.8em;
  width: 100%;
  margin: 2em auto;
  font-weight: bold;
  border-radius: 2em;
  text-align: center;
}

/*CONTACTO*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 56, 107);
  padding: 1em 1.5em;
  margin-top: 1.5em;
}
footer p {
  margin: 0;
}
footer img {
  height: 25px;
  width: 25px;
}
footer .footer__a--links {
  text-decoration: none;
  display: inline-block;
}
footer .footer--midIcon {
  margin: 0 10px;
}

body {
  background-color: rgb(42, 47, 88);
  color: white;
}

/*
    agregar a section__rivalidades-wrapper
    display: flex
    gap: 4em
*/

/*# sourceMappingURL=style.css.map */
