/*GENERAL*/
main{
    margin-top: 6.3em;
}

/*HOME*/
    .section__article--text{
        color: map-get($paletaColores, texto--index);

        span{
            color: map-get($paletaColores, mayuscula--index);
            font-weight: bold;
            font-size: map-get($fontSizes, mayuscula--index);
        }
    }

/*ABOUT*/
    .section--about__article--container{
        background-color: map-get($paletaColores,bg-containers);
        
        .section--about__article-title{
            @extend .titulos;

            &::after{
                @extend .after;
                height: 5px;
                border-radius: 2px;
                margin-bottom: 5px;
                gap: 2em;
            }
        }
        .section__about--p{
            font-size: 17px
        }

        .section--about__aside{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            
            img{
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .section__about--iframes{
        h2{
            text-align: center;
            font-size: map-get($fontSizes, titulos);
            font-weight: bold;
            margin: 2em 0 1em;
        }

        iframe{
            width: 100%
        }
    }


/*PALMARES*/
    .palmares__main__section{
        .palmares__main--title{
            @extend .titulos;
            
            &::after{
                @extend .after;
                height: 5px;
                margin-bottom: 5px;
                border-radius: 2px;
            }
        }

        .palmares__main--p{
            font-size: map-get($fontSizes, parrafosMobile)
        }

        .palmares__img{
            border-radius: 5px
        }
    }

/*RIVALIDADES*/

.section--rivalidades__article-title{
    @extend .titulos;

    &::after{
        @extend .after;
        height: 5px;
        margin-bottom: 2px;
        border-radius: 2px;
    }
}

.section--rivalidades__p{
    max-width: 75ch;
    line-height: 1.8;
    margin: 1em 0;
    font-size: map-get($fontSizes, parrafosMobile)
}

.rivalidades_a--link{
    @extend .boton;
    display: inline-block;
    padding: .8em;
    width: 100%;
    margin: 2em auto;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/*CONTACTO*/

.contacto__main--left{
    h1{
        @extend .titulos;
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }
}

.contacto__main--right{
    
    p{
        font-size: map-get($fontSizes, parrafosMobile);
        margin-bottom: 2em;
    }

    span{
        position: relative;
        font-weight: bold;

        &::after{
            @extend .after;
            height: 8px;
        }
    }
}

form{
    display: grid;

    input{
        @extend .input;
        width: auto;
        padding: .8em 1.2em;
    }

    textarea{
        height: 6em;
        border-radius: 5px;
        padding: .5em 1.2em;
    }

    input:focus, 
    textarea:focus{
        @extend .inputFocus
    }

    button{
        @extend .boton;
        padding: 1em 3em;
        margin-top: 2em;
        border-radius: 0.5em;
    }
}